<input type="text"
       GuInput
       #guInputRef>
<button GuButton
        (click)="guInputRef.focus()">获取焦点</button>

<button (click)="guInputRef.focus()"></button>

<div>COUNT: {{ count }}</div>
<button GuButton
        (click)="add()">
  <span>
    <pre>
      const fs = require('fs')
    </pre>
  </span>
</button>

<button GuButton
        (click)="count = count - 1">test</button>
<!-- <gu-parent></gu-parent> -->

<button GuAppBarButton
        class="MyButton">AppBarButton</button>
<button GuAppBarButton>AppBarButton2</button>
<GuAppBarButton>Test</GuAppBarButton>
<div role="separator"></div>
<span>测试</span>
<i GuAppBarSeparator></i>
<span role="checkbox">测试222</span>

<button GuAppBarToggleButton
        [GuIsChecked]="appbartogglebuttonChecked"
        (click)="toggle_Appbartogglebutton()"
        (GuIsCheckedChange)="ontoggle_Appbartogglebutton($event)">AppBarToggleButton: {{ appbartogglebuttonChecked }}</button>
<input type="checkbox"
       GuAppBarToggleButton>

<button GuToggleButton
        [GuIsDisabled]="disabled">ToggleButton</button>
<button GuButton
        (click)="disabled = !disabled">{{ disabled ? '启用' : '禁用' }}</button>

<GuToggleSwitch [(GuChecked)]="disabled"
                [GuCheckedContent]="'启用'"
                [GuUnCheckedContent]="'禁用'"></GuToggleSwitch>

<GuCheckBox [(ngModel)]="checkbox"
            name="checkbox">test</GuCheckBox>

<div>checkbox: {{ checkbox }}</div>

<GuSimpleTreeView [GuTree]="tree"
                  (GuSelectChange)="onTreeViewSelectChange($event)"></GuSimpleTreeView>

<GuListBox [GuItemSource]="languages"></GuListBox>

<GuListBox [GuItemSource]="frameworks"
           [GuDisplayMemberPath]="'name'"></GuListBox>

<GuListBox [GuItemSource]="frameworks"
           [GuDisplayMemberPath]="'name'"
           [GuDisplayMemberTemplate]="myListBoxTpl">
  <ng-template #myListBoxTpl
               let-item
               let-index="index">
    <span class="list-box-item-name">{{ item.name }}</span>
    <span>|</span>
    <span class="list-box-item-type">{{ item.type }}</span>
  </ng-template>
</GuListBox>
