<input type="text"
       GuInput
       #guInputRef>
<button GuButton
        GuToolTip
        [GuContent]="'Get Focus'"
        (click)="guInputRef.focus()">获取焦点</button>

<button (click)="guInputRef.focus()">Get Focus</button>

<div>COUNT: {{ count }}</div>
<button GuButton
        (click)="add()">
  <span>
    <pre>
      const fs = require('fs')
    </pre>
  </span>
</button>

<router-outlet></router-outlet>

<button GuButton
        (click)="count = count - 1">test</button>
<!-- <gu-parent></gu-parent> -->

<button GuAppBarButton
        class="MyButton">AppBarButton</button>
<button GuAppBarButton>AppBarButton2</button>
<GuAppBarButton>Test</GuAppBarButton>
<div role="separator"></div>
<span>测试</span>
<i GuAppBarSeparator></i>
<span role="checkbox">测试222</span>

<button GuAppBarToggleButton
        [GuIsChecked]="appbartogglebuttonChecked"
        (click)="toggle_Appbartogglebutton()"
        (GuIsCheckedChange)="ontoggle_Appbartogglebutton($event)">AppBarToggleButton: {{ appbartogglebuttonChecked }}</button>
<input type="checkbox"
       GuAppBarToggleButton>

<button GuToggleButton
        [GuIsDisabled]="disabled">ToggleButton</button>
<button GuButton
        (click)="disabled = !disabled">{{ disabled ? '启用' : '禁用' }}</button>

<input type="range"
       id="range"
       min="0"
       max="100"
       #range
       [(ngModel)]="sliderValue"
       name="range">
<label for="range"
       GuToolTip
       [GuContent]="'RANGE: ' + range.value">RANGE {{ sliderValue }}</label>

<hr>
<GuSlider [(ngModel)]="sliderValue"
          name="slider1"
          [disabled]="false"
          [GuMin]="1"
          [GuMax]="200"
          [GuDisabled]="false"></GuSlider>
<hr>

<GuToggleSwitch [(GuChecked)]="disabled"
                [GuCheckedContent]="'启用'"
                [GuUnCheckedContent]="'禁用'"></GuToggleSwitch>

<GuCheckBox [(ngModel)]="checkbox"
            name="checkbox">test</GuCheckBox>

<div>checkbox: {{ checkbox }}</div>

<GuSimpleTreeView [GuTree]="tree"
                  (GuSelectChange)="onTreeViewSelectChange($event)"></GuSimpleTreeView>

<GuListBox [GuItemSource]="languages"></GuListBox>

<GuListBox [GuItemSource]="frameworks"
           [GuDisplayMemberPath]="'name'"></GuListBox>

<GuListBox [GuItemSource]="frameworks"
           [GuDisplayMemberPath]="'name'"
           [GuDisplayMemberTemplate]="myListBoxTpl">
  <ng-template #myListBoxTpl
               let-item
               let-index="index">
    <div GuToolTip
         [GuContent]="item.name + ' --- ' + item.type">
      <span class="list-box-item-name">{{ item.name }}</span>
      <span>|</span>
      <span class="list-box-item-type">{{ item.type }}</span>
    </div>
  </ng-template>
</GuListBox>


<div GuToolTip
     [GuContent]="'Tool Tip'">test</div>

<span GuToolTip
      [GuContent]="'Test Tool Tip'">测试ToolTip指令</span>

<hr>

<div #_portal1></div>
<ng-template #_portalTpl1
             let-name="name">
  <p>Template: {{ name }}</p>
</ng-template>

<div #_portal2></div>

<button GuButton
        (click)="onDoPortal()">Attach Template</button>

<button GuButton
        (click)="onDoComponentPortal()">Attach Component</button>

<ng-template *ngIf="cdkPortalArray?.length"
             [cdkPortalOutlet]="cdkPortalArray[selectedCdkPortalIndex]"></ng-template>

<select [(ngModel)]="selectedCdkPortalIndex"
        name="selectedCdkPortalIndex">
  <option value="0">第1个</option>
  <option value="1">第2个</option>
  <option value="2">第3个</option>
  <option value="3">第4个</option>
</select>

<ng-template [cdkPortalOutlet]="cdkComponentPortal"></ng-template>

<ng-template cdkPortal>
  <p>第1个</p>
</ng-template>
<ng-template cdkPortal>
  <p>第2个</p>
</ng-template>
<ng-template cdkPortal>
  <p>第3个</p>
</ng-template>
<ng-template cdkPortal>
  <p>第4个</p>
</ng-template>

<ng-template cdkPortal
             #myCdkPortalTpl="cdkPortal">
  <p>myCdkPortalTpl</p>
</ng-template>

<ng-template [cdkPortalOutlet]="myCdkPortalTpl"></ng-template>

<button GuButton
        (click)="openOverlay()">打开Dialog</button>
